body {
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: -webkit-linear-gradient(90deg, #ffcfd2,#fde4cf,#fbf8cc);background: linear-gradient(90deg, #ffcfd2,#fde4cf,#fbf8cc);
  color: #ffffff;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
}

.controls {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
}

button {
  background-color: #b284d4;
  color: white;
  padding: 10px;
  margin: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #ea8ff6;
}

/* Верхний левый угол */
#leftUpBtn {
  top: 40px;
  left: 40px;
}

/* Нижний левый угол */
#leftDownBtn {
  bottom: 20px;
  left: 20px;
}

/* Верхний правый угол */
#rightUpBtn {
  top: 20px;
  right: 20px;
}

/* Нижний правый угол */
#rightDownBtn {
  bottom: 20px;
  right: 20px;
}

canvas {
  border: 2px solid #ffffff;
  background: -webkit-linear-gradient(90deg, #ffcfd2,#fde4cf,#fbf8cc);background: linear-gradient(90deg, #ffcfd2,#fde4cf,#fbf8cc);
  width: 100%;
  max-width: 800px;
  height: auto;
}



