body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgb(255, 171, 245), rgb(255, 163, 209));
  color: #fff;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
}

.controls {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
}

button {
  background-color: #b284d4;
  color: white;
  padding: 10px;
  margin: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #ea8ff6;
}

canvas {
  border: 2px solid #fff;
  background: linear-gradient(rgb(240, 143, 213), rgb(230, 145, 238));
  width: 100%;
  max-width: 800px;
  height: auto;
}
