body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgb(255, 171, 245), rgb(255, 163, 209));
  color: #fff;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

canvas {
  border: 2px solid #fff;
  background: linear-gradient(rgb(240, 143, 213), rgb(230, 145, 238))
}